<!-- <div class="container"> -->

  <section>
   <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav" style="margin-right:20px;height:780px; overflow:auto;">
          <ul class="nav nav-list">
            <li class="nav-header">clusters</li>
            <% @clusters.each do |each_cluster|%>
              <li class=<%=each_cluster.id== params[:id].to_i ? "active" : "none" %>>
              <%= link_to  each_cluster.name, selected_cluster_path(each_cluster), :remote=> true%>
            </li>
            
            <% end %>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="dashboard">
        <%= render :partial=> "cluster_detail" %>
      </div><!--/dashboard-->
    </div><!--/row-->
  </section>
<!-- </div>< --><!--/container-->

<script type="text/javascript">
// $('li').on('click',function(){
//   alert (this);
//   $(this).parent().prepend(this);
// })


</script>