<!-- <div class="container"> -->

  <section>
   <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav" style="margin-right:20px;">
          <ul class="nav nav-list">
            <li class="nav-header">clusters</li>
            <% @clusters.each do |each_cluster|%>
            <li><%= link_to  each_cluster.name, selected_cluster_path(each_cluster), :remote=> true%></a>
            </li>
            <% end %>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="dashboard">
        <%= render :partial=> "cluster_detail" %>
      </div><!--/dashboard-->
    </div><!--/row-->
  </section>
<!-- </div>< --><!--/container-->
