<!-- <div class="container"> -->

  <section>
   <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav" style="margin-right:20px;height:780px; overflow:auto;">
          <ul class="nav nav-list">
            <li class="nav-header">VMs</li>
            <% @vms.each do |each_vm|%>
            <li class=<%=each_vm.id== params[:id].to_i ? "active" : "none" %>>
              <%= link_to  each_vm.name, selected_vm_path(each_vm), :remote=> true%>
            </li>
            <% end %>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="dashboard">
        <%= render :partial=> "vm_detail" %>
      </div><!--/dashboard-->
    </div><!--/row-->
  </section>
<!-- </div>< --><!--/container-->

<script type="text/javascript">
// $('li').on('click',function(){
//   $(this).parent().prepend(this);
// })
</script>