
@import url('../css/workflow.css');

.input-search{
background: none repeat scroll 0 0 #EEEEEE;
border: 0 none;
border-radius: 10px 0 0 10px;
margin-right: -4px;
padding: 8px 10px;
width: 100%; outline:none}


#input-btn{background: none repeat scroll 0 0 #4A8BC2;
border: 0 none;
border-radius: 0 10px 10px 0;
color: #FFFFFF;
cursor: pointer;
font-weight: bold;
height: 33px; width:60px;
padding: 8px 8px 23px 5px;
margin-left: -1px;}

.borrower-list{ width:45%; border:0px #000 solid; height:100px; font-family:Arial, Helvetica, sans-serif; font-size:13px; margin:30px 0 0 5px; float:left}

.box div{ border:none}

.table-condensed table td .a{ text-decoration:none; color:#FFF}



