
.back_to{
  display: block;
margin: 0 auto;
width: 95%;
margin-bottom: 5px;
font-family: arial;
}

#borrower-dashboard-container
{
  width: 97%;
  margin: 10px 10px 10px 30px;
}
.borower-personal-details
{
  width: 40%;
  border: 2px solid #000;
  float: left;
}
#lender-dashboard-container
{
  width: 98%;
  margin: 10px;
}
.lender-personal-details
{
  width: 50%;
  border: 2px solid #000;
  float: left;
}
.personal-data img
{
  height: 136px;
  border: medium none;
  float: left;
  height: 105px;
  margin: 5px 5px 5px 10px;
  width: 100px;
}
.notes-container
{
  width: 30%;
  float: left;
  border: 2px solid #232323;
  margin:0 20px;
}

.notes-heading
{
  text-align: center;
  background-color: #636363;
  color: #FFFFFF;
  display: inline;
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 96%;
  padding: 4% 2%;
}
.search-note-field
{
  background: none repeat scroll 0 0 #EEEEEE;
  border: 0 none;
  border-radius: 3px 0 0 3px;
  float: left;
  height: 20px;
  margin-left: 2%;
  padding: 5px;
  width: 35%;
}
#note-search-btn
{
  margin-left: -5px;
  background: none repeat scroll 0 0 #4a8bc2;
  border: 0 none;
  border-radius: 0 3px 3px 0;
  color: #FFFFFF;
  cursor: pointer;
  height: 31px;
  overflow: visible;
  padding: 0 2%;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

#note-search-btn img{
  margin-top:2%;

}
.search-box
{
  margin-bottom: 4px; 
}
.notes-section
{
  float: left;
  width: 100%;
}
.note-add-button
{
    padding: 7px;
    background-color: #4a8bc2 !important;
    color: #fff;
    border-radius: 8px;
    /*width: 46px;*/
    margin-left:2px;
    /*background-color: #DDDDDD;*/
    /*background-image: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC);*/
    /*border: 1px solid #777777;*/
    /*border-radius: 0.2em 0.2em 0.2em 0.2em;*/
    /*box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);*/
    /*color: #333333;*/
    display: inline-block;
    float: right;
    font-size: 15px;
    margin: 0 0.9em;
    padding: 0.25em 1em;
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);*/
    /*white-space: nowrap;*/

}

.note-add-button:hover
{
    background: -webkit-gradient(linear, left top, left bottom, from(#F34242), to(#FC5E5E));
    background: -moz-linear-gradient(center top , #F34242, #FC5E5E) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-image:     -ms-linear-gradient(top, #F34242, #FC5E5E); 
    background-image:      -o-linear-gradient(top, #F34242, #FC5E5E); 
    background-image:         linear-gradient(top, #F34242, #FC5E5E);
    border: 1px solid #D81717;
    

}

/*.note-add-button:before
{
		border-radius: 0.15em 0 0 0.15em;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    content: "+";
    float: left;
    font-size: 1em;
    margin: 0 1em 0 -1em;
    padding: 0;
    pointer-events: none;
    text-align: left;
    width: 20%;
    }*/
    #notes-table
    {
      clear: both;
      width: 100%;
      float: left;
  }


  table.formatHTML5
  {
      width: 100%;
      border-collapse:collapse;
      text-align:left;
      color: #606060;
      border:1px solid #4a8bc2;
  }

  table.formatHTML5 thead tr td
  {
    background-color: White;
    vertical-align:middle;
    padding: 0.6em;
    font-size:0.8em;
}
.tablesorter-header
{
  background-image: url("bg.gif");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}
table.formatHTML5 thead tr th
{
    padding: 0.5em;
    background-color: #4a8bc2 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#4a8bc2), to(#1a66a7));
    background: -moz-linear-gradient(top, #1a66a7, #4a8bc2);
    color: #dadada;
    text-align:left;
    font-size: 15px;
}
table.formatHTML5 tbody tr:nth-child(odd)
{
 background-color: #fafafa;
}
table.formatHTML5 tbody tr:nth-child(odd):hover
{

    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
    background: -moz-linear-gradient(top, #f75e2e, #f75e2e);
    color: #dadada;
}
table.formatHTML5 tbody tr:nth-child(even)
{
    background-color: #efefef;
}
table.formatHTML5 tbody tr:nth-child(even):hover
{
  background-color: #808080;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#f75e2e), to(#f75e2e));*/
  /*background: -moz-linear-gradient(top, #f75e2e, #f75e2e);*/
  color: #dadada;
}
table.formatHTML5 tbody tr:last-child {
 border-bottom: solid 1px #4a8bc2;
}
table.formatHTML5 tbody tr.separator {
  background-color: #808080;
  background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#e49525));
  background: -moz-linear-gradient(top, #e49525, #e49525);
  color: #dadada;
}

/*** table's td element, all section ***/
table.formatHTML5 td {
  vertical-align:middle;
  padding: 0.5em;
  font-size: 13px;
}
table.formatHTML5 tfoot
{
  text-align:center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.3);
}
        
table.formatHTML5 tfoot a
{
  color:#fff;
  font-size:16px;
  text-decoration:none;
  padding:5px;
}

table.formatHTML5 tfoot a:hover
{
    color:#333333;
    font-size:16px;
    text-decoration:underline;
    padding:5px;
}

table.formatHTML5 thead tr th a
{
    color: #FFFFFF;
    text-decoration: none;
}
table.formatHTML5 tfoot tr td
{
  color: #fff;
}
.workflow-right-icons
{
  float: left;
  width: 19%;
}
.right-menu-icons
{
  border-bottom-width: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.right-menu-icons a
{
  background: -moz-linear-gradient(center top , #606060, #808080) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(top, #606060, #808080); 
  background-image:     -ms-linear-gradient(top, #606060, #808080); 
  background-image:      -o-linear-gradient(top, #606060, #808080); 
  background-image:         linear-gradient(top, #606060, #808080);        
  border-bottom: 1px solid #807E7F;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 2px;
  margin-left: 3px;
  padding: 20px;
  text-decoration: none;
}
.right-menu-icons a img
{
  float: left;
	margin: -9px 8px 0 -11px;
}
.right-menu-icons a span
{
  display: block;
  white-space: nowrap;
  width: auto;
}

.borrower-edit
{
    padding: 7px;
    background-color: #4a8bc2;
    color: #fff;
    border-radius: 8px;
    margin-left:2px;
    float:right;

}
.borrower-reset
{
    padding: 7px;
    background-color: #EA8511;
    color: #fff;
    border-radius: 8px;
    margin-left:2px;
    border:none;

}

.borrower-header, .lender-header
{
    text-decoration: none !important;
    background-color: #636363;
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 96%;
    padding: 0% 2%;
}
.borrower-list
{
    width:65%;
    float:left;
}
.borrower-edit:hover
{
    padding: 7px;
       background: -webkit-gradient(linear, left top, left bottom, from(#F34242), to(#FC5E5E));
    background: -moz-linear-gradient(center top , #F34242, #FC5E5E) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-image:     -ms-linear-gradient(top, #F34242, #FC5E5E); 
    background-image:      -o-linear-gradient(top, #F34242, #FC5E5E); 
    background-image:         linear-gradient(top, #F34242, #FC5E5E);
    color: #fff;
    border-radius: 8px;
    margin-left:2px;
    border: 1px solid #D81717;
}

.borrower-reset:hover
{
    padding: 7px;
    background: -webkit-gradient(linear, left top, left bottom, from(#8cc63f), to(#538116));
    background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
    background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
    background-image:         linear-gradient(top, #8cc63f, #538116);
    color: #fff;
    color: #fff;
    border-radius: 8px;
    margin-left:2px;
    border:none;
    border: 1px solid #538116;

}
#search-field
{
	background: none repeat scroll 0 0 #EEEEEE;
  border: 0 none;
  border-radius: 10px 0 0 10px;
  margin-right: -4px;
  padding: 8px 10px;
  width: 160px;
  height:33px;
  margin-top:10px;
}
#search-btn
{
	background: none repeat scroll 0 0 #4A8BC2;
  border: 0 none;
  border-radius: 0 10px 10px 0;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  height: 33px;
  padding: 8px 8px 23px 5px;
  margin-left: -1px;
}
.search
{
  margin: auto;
width: 87%;
		/*margin-bottom: 20px;*/
}
.lender-table, #borrowers-table
{
		width: 84%;
    margin:auto;
}
.green {
    background: none repeat scroll 0 0 #008000;
    border: 1px solid #008000;
    border-radius: 20px 20px 20px 20px;
    float: left;
    margin-right: 2%;
    padding: 8px;
}
.yellow {
    background: none repeat scroll 0 0 #FFFF00;
    border: 1px solid #FFFF00;
    border-radius: 20px 20px 20px 20px;
    float: left;
    margin-right: 2%;
    padding: 8px;
}
.red {
    background: none repeat scroll 0 0 #FF0000;
    border: 1px solid #FF0000;
    border-radius: 20px 20px 20px 20px;
    float: left;
    margin-right: 2%;
    padding: 8px;
}

.buttons {
    margin-top: 8%;
}
/*.innersptCnt {margin-top: 0px !important;}*/
/*.workflow-search-bottom
{
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 10px 10px 10px 0;
    width: 94%;
}
*/
.export
{
		float: right;
		
}
  .popup1{
    width:100%;
    height:100%;
    background: #372f2c;
    opacity:0.5;
    position:fixed;
    overflow: auto;
    left:0;
    top:0;}
    .new-popup1{
      width:280px;
      position:fixed;
      top:150px;
      left:450px;
      border:3px solid #000;
      border-radius:10px;
      background:#f8fcfb;

    }
    .content{
      background:#f8fcfb;
      border-radius: 0 0 10px 10px;
      padding: 5px 10px;
      float:left;
      width:93%;
      line-height: 2em
    }
    .new-popup1 h3{
      background-image: -webkit-linear-gradient(top, #d8d9da, #bbbbbb); 
      background-image:    -moz-linear-gradient(top, #d8d9da, #bbbbbb); 
      background-image:     -ms-linear-gradient(top, #d8d9da, #bbbbbb); 
      background-image:      -o-linear-gradient(top, #d8d9da, #bbbbbb); 
      background-image:         linear-gradient(top, #d8d9da, #bbbbbb);
      border-radius: 10px 10px 0 0;
      margin: 0;
      padding: 5px;
      text-align: center;
    }
    .new-popup1 label{
      float:left;
      width:100%;
    }
    .new-popup1 textarea {
      border: 1px solid #808080;
      border-radius: 5px;
      margin: 2% 0;
      width: 98%;
      height:75px;
    }
    .add_cancel{
      float:right;
      width:50%;
      margin:1% 0;
    }
    .create{
      background-image: -webkit-linear-gradient(top, #7bba38, #53771f); 
      background-image:    -moz-linear-gradient(top, #7bba38, #53771f); 
      background-image:     -ms-linear-gradient(top, #7bba38, #53771f); 
      background-image:      -o-linear-gradient(top, #7bba38, #53771f); 
      background-image:         linear-gradient(top, #7bba38, #53771f);
      border-radius: 5px;
      border:1px solid #5c8d20;
      padding: 6px 10px;
      text-align: center;
      font-weight:bold;
      color:#fff;
      float:left;
    }
    .cancel{
      background-image: -webkit-linear-gradient(top, #ee4950, #c63d48); 
      background-image:    -moz-linear-gradient(top, #ee4950, #c63d48); 
      background-image:     -ms-linear-gradient(top, #ee4950, #c63d48); 
      background-image:      -o-linear-gradient(top, #ee4950, #c63d48); 
      background-image:         linear-gradient(top, #ee4950, #c63d48);
      border-radius: 5px;
      border:1px solid #b53641;
      padding: 6px 10px;
      text-align: center;
      font-weight:bold;
      color:#fff;
      float:left;
      margin-left:3%;
    }
#hidepopup{}


.tablesorter-header{
  background: url("data:image/gif;base64, R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==") no-repeat 55% !important;
}
.tablesorter-headerAsc{
  background: url('/assets/up_arrow.png') no-repeat 55% !important;
}
.tablesorter-headerDesc{
  background: url('/assets/down_arrow.png') no-repeat 55% !important;
}
