.static_section h2{
  width:100%;
	float: left;
	text-align:left;
    /*font-family: verdana;*/
    font-size: 18px;
    margin: 10px 10px 10px 0px;
    color: #4a8bc2;
    font-size: 16px;
    clear: left;

}
.enable, .enable1{
	background: url('bg.png') repeat;
    float: left;
    text-align: left;
    padding: 15px;
    width:95%;
	border: 2px solid #4A8BC2;
}
.disable{
	background: url('bg2.png') repeat;
    float: left;
    text-align: left;
    padding: 15px;
    width:95%;
	border: 2px solid #4A8BC2;
}
.enable input[type="text"]{
	float:none;
  margin:3px;
}
.disable input[type="text"]{
	float:none;
  margin:3px;
}
#slider{
  float:none;
  margin-top:5px;
  width:25%;
}
.ui-slider-horizontal {
    height: 8px !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -1.1em !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /*background:url('/assets/skin.png') no-repeat;
  border:none;*/

}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  background: url('/assets/skin.png') no-repeat;
}
