
.slide-menu{width:210px !important; height:700px !important;  position:absolute;margin-top:-57px; padding-top:10px;   border:0px #000 solid; clear:both; z-index:999;background:#D8E3D3; border-right:5px #C7D0CF solid !important;}
ul#sidemenu{ width:200px; height:320px; position:relative; margin:0; padding:0; padding-top:30px; z-index:999; list-style-type:none;}

/*.slide-menu{width:210px !important; height:700px !important; border-right:5px #C7D0CF solid !important; margin-top:0px !important; position:absolute;  border:0px #000 solid; clear:both; background:#D8E3D3; solid; z-index:-999}*/
/*ul#sidemenu{ width:200px; height:320px; position:relative; margin:0; padding:0; position: absolute; list-style-type:none;}*/

ul#sidemenu li{ display:block; margin-bottom:2px; }
ul#sidemenu li a{ font-family: arial; font-weight:bold; display:block; width:100%; padding:10px; background: -moz-linear-gradient(center top , #EA8511, #B0640C) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #EA8511, #B0640C); 
 background-image:     -ms-linear-gradient(top, #EA8511, #B0640C); 
 background-image:      -o-linear-gradient(top, #EA8511, #B0640C); 
 background-image:         linear-gradient(top, #EA8511, #B0640C); color:#FFF; text-align:center;border-radius:4px; text-decoration:none}
ul#sidemenu li a:hover{ background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #8cc63f, #538116); 
 background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
 background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
 background-image:         linear-gradient(top, #8cc63f, #538116);}
ul#sidemenu li a.selected{background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #8cc63f, #538116); 
 background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
 background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
 background-image:         linear-gradient(top, #8cc63f, #538116);}




@media 
all and
(max-width: 478px) {

.slide-menu{width:90%; height:30px;;border:0px #000 solid; position:relative;float:none; margin:0 auto;}
ul#sidemenu{ width:100%; height:auto; position:relative; margin:0 auto; padding:0; list-style-type:none}
ul#sidemenu li a{ display:block; width:auto; float:left; margin-left:2px; padding:5px; font-size:9px;
 background: -moz-linear-gradient(center top , #EA8511, #B0640C) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #EA8511, #B0640C); 
 background-image:     -ms-linear-gradient(top, #EA8511, #B0640C); 
 background-image:      -o-linear-gradient(top, #EA8511, #B0640C); 
 background-image:         linear-gradient(top, #EA8511, #B0640C);color:#FFF; text-align:center;border-radius:4px; text-decoration:none}
ul#sidemenu li a:hover{ background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #8cc63f, #538116); 
 background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
 background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
 background-image:         linear-gradient(top, #8cc63f, #538116);}
	
	}
	
	
	

@media
(min-width: 480px) and
(max-width: 760px) {
	.navbar-default { margin-top:-50px; width:100%}
	.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 4px;
}
.nav-span{float:left; padding-top:5px}
.login-pannel{width:450px; height:480px; background:#FFF; border:6px #f6b54d solid; margin:auto; margin-top:30px}
		 .userform-label{width:40%; float:left;font-weight:normal; padding:5px; font-size:12px; border:0px #003 solid; font-weight:bold}
		 
.slide-menu{width:80%; height:60px;border:0px #000 solid; position:relative;float:none; margin:0 auto;}
ul#sidemenu{ width:100%; height:auto; position:relative; margin:0 auto; padding:0; list-style-type:none}
ul#sidemenu li a{ display:block; width:auto; float:left; padding:10px; font-size:11px; background: -moz-linear-gradient(center top , #EA8511, #B0640C) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #EA8511, #B0640C); 
 background-image:     -ms-linear-gradient(top, #EA8511, #B0640C); 
 background-image:      -o-linear-gradient(top, #EA8511, #B0640C); 
 background-image:         linear-gradient(top, #EA8511, #B0640C); text-align:center;border-radius:4px; text-decoration:none}
ul#sidemenu li a:hover{ background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #8cc63f, #538116); 
 background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
 background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
 background-image:         linear-gradient(top, #8cc63f, #538116);}

	
	}

@media
(min-width: 1024px) and
(max-width: 1920px) {
	
	.navbar-default { margin-top:5px}
	.logo{display:block; float:left; width:33% !important;}
	.login-info span{width:100%; float:left; padding-top:10px; font-size:13px}
	.nav-span{display:none}


.slide-menu{width:70%; height:auto; position:absolute;  border:0px #000 solid; clear:both}
ul#sidemenu{ width:200px; height:320px; position:relative; margin:0; padding:0; list-style-type:none}
ul#sidemenu li{ display:block; margin-bottom:2px; }
ul#sidemenu li a{ display:block; width:100%; padding:10px;  background: -moz-linear-gradient(center top , #EA8511, #B0640C) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #EA8511, #B0640C); 
 background-image:     -ms-linear-gradient(top, #EA8511, #B0640C); 
 background-image:      -o-linear-gradient(top, #EA8511, #B0640C); 
 background-image:         linear-gradient(top, #EA8511, #B0640C); font-size:12px; color:#FFF; text-align:center;border-radius:4px; text-decoration:none}
ul#sidemenu li a:hover{background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #8cc63f, #538116); 
 background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
 background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
 background-image:         linear-gradient(top, #8cc63f, #538116);}


	}	
	
	
@media
(min-width: 768px) and
(max-width: 1376px) {
	


.slide-menu{width:150px !important; height:320px; position:absolute;clear:both;background:#D8E3D3; border-right:5px #C7D0CF solid !important;}
ul#sidemenu{ width:140px; height:320px; position:relative; margin:0; padding:0; list-style-type:none; }
/*.slide-menu{margin-left:0px; width:150px !important; height:320px; position:absolute;  border-right:5px #C7D0CF solid !important; border:0px #000 solid; clear:both}*/
/*ul#sidemenu{ width:140px; height:320px; position:relative; margin:0; padding:0; list-style-type:none}*/

ul#sidemenu li{ display:block; margin-bottom:2px; }
ul#sidemenu li a{display:block; width:100%; padding:10px;   background: -moz-linear-gradient(center top , #EA8511, #B0640C) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #EA8511, #B0640C); 
 background-image:     -ms-linear-gradient(top, #EA8511, #B0640C); 
 background-image:      -o-linear-gradient(top, #EA8511, #B0640C); 
 background-image:         linear-gradient(top, #EA8511, #B0640C);
 color:#FFF; text-align:center;border-radius:4px; text-decoration:none}
ul#sidemenu li a:hover{background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #8cc63f, #538116); 
 background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
 background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
 background-image:         linear-gradient(top, #8cc63f, #538116);}
ul#sidemenu li a.selected{background: -moz-linear-gradient(center top , #8cc63f, #538116) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background-image: -webkit-linear-gradient(top, #8cc63f, #538116); 
 background-image:     -ms-linear-gradient(top, #8cc63f, #538116); 
 background-image:      -o-linear-gradient(top, #8cc63f, #538116); 
 background-image:         linear-gradient(top, #8cc63f, #538116);}

	}	
		


