<div class="index-container">
  

<!-- Index form Started -->
<div class="col-sm-12">
  <div class="form-search col-sm-4">
    <h2>Search Results</h2></div>
  </div>
  <div class ="container" style="height:662px;overflow:auto;">
    <table class="table table-striped tablesorter">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    
      <% @results.group_by(&:class).each do |key, group| %>
      <tr>
        <td colspan=3><b><%= key.upcase %>: </b></td></tr>
        <% group.each do |result|%>
          <tr>
            <td></td>
            <td><%= result.name %></td>
            <td><%= link_to 'Show', result ,:class => 'btn btn-mini btn-info', :remote=> true%></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  

</div>

<script>
$(function(){
  $('table').tablesorter({
    widgets        : ['zebra', 'columns'],
    usNumberFormat : false,
    sortReset      : true,
    sortRestart    : true
  });
});

</script>

