<!-- <div class="container"> -->
  <section>
   <div class="container-fluid">
     <div class="col-sm-12">
  <div class="form-search col-sm-4">
    <h4>vCenter Details</h2></div>
    <div class="form-search col-sm-4" style="margin-top:20px;">
     
    </div>
  </div>

    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav" style="margin-right:20px;margin-bottom:0px;height:717px; overflow:auto;">
          <ul class="nav nav-list">
            <% @vcenters.each do |each_vcenter|%>
            <li class=<%=each_vcenter.id== params[:id].to_i ? "active" : "none" %>>
              <%= link_to  each_vcenter.name, selected_vcenter_path(each_vcenter), :remote=> true%>
            </li>
            <% end %>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="dashboard">
        <%= render :partial=> "vcenter_detail" %>
      </div><!--/dashboard-->
    </div><!--/row-->
  </section>
<!-- </div>< --><!--/container-->

<!-- prepending the element to top of the page on click -->
<script type="text/javascript">
// $('li').on('click',function(){
//   $(this).parent().prepend(this);
// })

</script>